/*
  P03 - Style Sheet
*/

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* Heading Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* Subtitle Fonts */

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap'); /* Body Fonts */

/*
  GENERAL / TXT
*/

html {
  background: #27226b;
  overflow-x: hidden;
}

.wrapper {
  overflow-x: hidden;
}

header {
  background-color: #0b083b;
  color:#b0b0b0;
  margin: 0;

  display: flex;
  align-items: center;
}

.headerImg {
  width: 100%;
  display: block;
}

.headerImg img {
  width: 125px;
  height: 5%;

  display: block;
  margin: 0 auto;

  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.headerImg img:hover {
  opacity: 0.5;
}

header h1, p {
  margin: 0;
  padding: 1rem;
}

body {
  background-color: #2c2a42;
  color: #EEEEEE;
  max-width: 80vw;

  margin: 0 auto;
}

footer {
  background-color: #0b083b;
  color:#b0b0b0;
  margin: 0;  
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;

  margin: 5rem;
}

/* 
  TEXT ELEMENTS -------------------
*/

h1, h2, h3, h4 {
  z-index: 1;
}

h1 {
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

h2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  margin-top: 1rem; 
}

h3 {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 24px;
  font-style: italic;
  margin-top: 1rem;
}

h4 {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

p, a, figcaption, ul, li {
  font-family: 'Assistant', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: #525863;
  
  padding: 2rem;
  display: block;
}

a {
  color: #92cea6;
  text-decoration: none;

  transition-duration: 0.5s;
  transition-property: color;
}

a:hover {
  color:#fda358;
}


/*
  BACKGROUND (cited from https://css-tricks.com/books/fundamental-css-tactics/infinite-scrolling-background-image/)
*/

.bgContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: -1;
  opacity: 0.5;
}

.scrollBGLEFT, .scrollBGRIGHT {
  position: absolute;
  width: 100vw;
  height: 100vh;
  animation: slide 45s linear infinite;

  background-size: 100% auto;
}

.scrollBGLEFT {
  background: url('../assets/img/bannerLeft.webp') repeat-y;

  background-position-x: left;
  background-position-y: 0;
}
  
.scrollBGRIGHT {
  background: url('../assets/img/bannerRight.webp') repeat-y;
  
  background-position-x: right;
  background-position-y: 0;
}

@keyframes slide {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -1500px;
  }
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* actual button */
button {
  padding: 1rem;
  color: #FFFF;
  background-color: #0b083b;
  border: none;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;

  cursor: pointer;

  font-family: 'Assistant', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

/* Styling for the navigation button */

.button {
  display: inline-block;
  padding: 0.5rem;
  color: #FFFF;
  background-color: #0b083b;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

.button:hover {
  color: #0b083b;
  background-color: #6fe4b7;
  transition-property: background-color;
}

.button.active {
  display: inline-block;
  padding: 0.5rem;
  color: #0b083b;
  background-color: #6fe4b7;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

.headerNav {
  background-color: #0b083b;
  display: flex;
  justify-content: center;
}

.headerNav a {
  text-decoration: none;
  color: #EEE;
  padding: 15px;
  text-align: center;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

.headerNav a:hover {
  color: #0b083b;
  background-color: #6fe4b7;
}

.stickyHeader {
    display: flex;
    justify-content: center;

    position: sticky;
    top: 0;

    z-index: 999;
}

.navFooter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 48px;

    width: 100%;

    margin: 0 auto;
    padding: 1rem 4.24rem;
    height: fit-content;
}

.footerSection {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.footerSection h4 {
  color: #EEE;
  margin-bottom: 0.5rem;
}

.footerSection a {
  margin: 0.25rem 0;
}

/* 
  COMBINED ELEMENTS -------------------
*/

.zoomImg {
  max-width: 20vw;
  width: 100%;

  transition-duration: 1s;
  cursor: pointer; /* cursor pulled from https://www.w3schools.com/cssref/tryit.php?filename=trycss_cursor */
}

.zoomImg:hover {
  transform:scale(1.05);
}

.zoomImg:focus {
  transform:scale(1.05);
}

.modal { /* MODAL IMAGE Referenced from https://www.w3schools.com/css/css3_images_modal.asp */
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
}

/* Modal content (image) */
.modalImg {
  position: relative;

  width: auto;
  height: auto;
  max-width: 70%;
  max-height: 70%;

  border-radius: 5px;
  overflow: hidden;
}

.modal.show {
  display: flex;
  opacity: 1;
}

/* Close button */
.close {
  position: absolute;
  top: 3rem;
  right: 3rem;
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
  cursor: pointer;

  border-color: transparent;
  background-color: transparent;

  transition-duration: 0.5s;
  transition-property: color;
}

.close:hover {
  color: #e78585;
  background-color: transparent;
}

/* Caption of modal image */
.caption {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 10rem;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
}

/* Project Pages */

.projectInfo, .projectOverview {
  margin: 5rem;
  flex-wrap: wrap;
}

.projectOverview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.projectSection {
  grid-column: 1;
}

.figureSection {
  grid-column: 2;
}

.figureSection .zoomImg {
  max-width: 50vw;
}


@media screen and (max-width: 1275px) {
  body {
    align-items: center;
  }

  .projectOverview {
    grid-template-columns: 1fr; /* Turn into ONE column */
  }

  .projectSection, .figureSection {
    grid-column: 1;
  }

  .figureSection .zoomImg {
    max-width: 100%;
  }
}

/* Style Guide */
.stylesheet h2 {
  margin: 5rem;
}

.element h2 {
  margin: 0;
} 

/* GENERAL RESPONSIVENESS */
@media screen and (max-width: 1000px) {
  body {
    justify-content: center;
    align-items: center;
  }

  h1, h2 {
    text-align: center;
  }

  .gameCover {
    align-items: center;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  margin: 0;
}

.bar {
  display: block;
  width: 25px;
  height: 3px; 
  margin: 5px auto;
  background-color: white;
}

@media screen and (max-width: 1000px) { /* Hamburger Code referenced from: https://www.youtube.com/watch?v=flItyHiDm7E & https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav*/ 
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .headerNav {
    gap: 0;
    flex-direction: column;

    text-align: center;
    
    top: 0;
  }

  .headerNav.active {
    transform: translateY(0);
  }

  .headerNav a {
    display: none;
  }

  .headerNav.active a {
    display: block;
  }

  .stickyHeader {
    top: 0;
  }
}


